<app-navbar></app-navbar>
<div class="container">
    <div class="text">
        <p style="font-size: 30px; font-weight: bold; text-shadow: 1px solid blueviolet;">Note Taking Made Easier</p>
        <p style="font-size: 12px; font-weight: 300; font-style: italic;">all of your notes in one place</p>
        <button>Get started</button>

    </div>
    <div class="home-images">
        <div class="portrait-home-image">
            <img class=landingImage [src]="landingImage" alt="">
            <img class=landingImage1 [src]="landingImage1" alt="">
        </div>
        <div class="landscape-home-image">
            <img class=landingImage2 [src]="landingImage2" alt="">
        </div>
    </div>
</div>
